
@media(max-width: 700px){
    .nav-right-md{
    display: flex;
}
.nav-right{
    display: none;
}
.nav-left .logo img{
    width: 100px;
    height: 30px;
}
.nav-center .logo2{
    display: flex;
}
.nav-left .logo{
    display: none;
}
.cart-img{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 10px;
  height: 200px;
  width: 211px;
  border: 1px solid rgb(253, 186, 17);
  border-radius: 10px;
  padding: 20px;
}
h3 {
  font-size: 1.2rem;
  font-weight: 600;
}
h4 {
  font-size: 12px;
  font-weight: 700;
}
.container {
  max-width: 100vw;
  padding-inline: 20px;
}
/*sidebar*/
.sidebar {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 300px;
  z-index: 999;
  background-color: white;
  transition: transform 1s ease;
  transform: translateX(-105%);
  box-shadow: 1px 0px 10px 1px black;
  line-height: 2;
  font-size: 0.8rem;
  font-weight: 550;
}
/*banner2*/
.banner-2{
  flex-basis: 48%;
  margin: 1%;
  border-radius: 20px;
  overflow: hidden;
}

}



