* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary-color: #f15b25;
  --secondary-color: #f8d61c;
  --light-secondary-color: #fdba11;
  --btn-color: #fedc00;
  --gray-700: #595a5c;
  --black: #000;
  --light-primary: rgba(213, 81, 33, 0.733);
  --white: #fff;
  --shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}
.container {
  max-width: 1280px;
  padding-inline: 80px;
  margin-inline: auto;
}
a {
  text-decoration: none; 
 color: black;
 cursor: pointer;
}

h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

h4 {
  font-size: 13px;
  font-weight: 700;
}

h5 {
  font-size: 0.8rem;
  font-weight: 700;
}

/*navbar*/

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  height: 70px;
  position: fixed;
  z-index: 999;
}

.navbar-content {
  display: grid;
  align-content: center;
  height: 70px;
  grid-template-columns: 1fr 3fr 1fr;
  width: 100%;
  padding: 20px;
  align-items: center;
  box-shadow: 10px 0px 20px black;
  background-color: white;
  z-index: 2000;
}

.nav-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.bar {
  height: 32px;
  width: 32px;
}

.nav-left .bar img {
  height: 100%;
  width: 100%;
}

.nav-left .logo img {
  width: 160px;
  height: 100%;
}

.nav-center .logo2 {
  display: none;
  justify-content: center;
  align-items: center;
  flex: 2 2 0%;
}

.nav-center .logo2 img {
  max-width: 130px;
  height: 100%;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: var(--btn-color);
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  font-size: 14px;

  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}

.signin-btn {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 600;
  align-items: center;
  background-color: var(--btn-color);
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  letter-spacing: 1px;
  cursor: pointer;
}

/*media*/
.nav-right-md {
  display: none;
  gap: 20px;
}

.cart-btn-md img {
  height: 20px;
  width: 20px;
}

.nav-right-md {
  justify-content: flex-end;
}

.nav-right-md button {
  border: none;
  background: none;
}

.signin-btn-md img {
  height: 20px;
  width: 20px;
}

/*banner*/
.banner {
  overflow: hidden;
  width: 100%;
  max-width: 100vw;
}

.banner-inner {
  display: flex;
}

.banner-inner img {
  width: 100%;
  flex-shrink: 0;
}

/*menu section*/

.menu-section-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 50px;
  margin-top: 2rem;
}

.view-all {
  color: var(--primary-color);
}

/*menu*/
.menu-sec {
  position: relative;
  padding-inline: 10px;
}

.mySwiper {
  max-width: 1150px;
  transition: 2s ease-in-out;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.slider-content {
  width: 210px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light-secondary-color);
  border-radius: 10px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent !important;
}

.slider img {
  width: 200px;
  height: 159px;
  aspect-ratio: 200 / 159;
  padding: 2px;
  outline: none;
}

.swiper-btn-next {
  position: absolute;
  top: 50%;
  z-index: 999;
  border: none;
  border-radius: 5px;
  background-color: white;
  right: 10px;
  box-shadow: 0px 0px 5px black;
  padding: 2px 5px;
}

.swiper-btn-prev {
  position: absolute;
  top: 50%;
  z-index: 999;
  border: none;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 5px black;
  padding: 2px 5px;
}

.swiper-btn-prev i,
.swiper-btn-next i {
  padding: 5px;
  font-size: 1.5rem;
  color: var(--primary-color);
}

.ordernow-btn button {
  position: fixed;
  bottom: 10%;
  right: 5%;
  background-color: #f15b25;
  padding: 15px;
  border: none;
  z-index: 999;
  border-radius: 7px;
  color: white;
  font-weight: 600;
}
/*sidebar*/
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 380px;
  height: 100%;
  z-index: 1500;
  background-color: white;
  transition: transform 1s ease;
  transform: translateX(-105%);
  box-shadow: 1px 0px 10px 1px black;
  line-height: 2;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  overflow: scroll;
}
.sidebar-content {
  padding: 0px 50px;
  margin-top: 60px;
  width: 100%;
  height: 100%;
}
/*user section*/
.sidebar .user-sec-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar .user-sec-content .user-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: #f8d61c;
  padding: 5px;
  border-radius: 50%;
  font-size: 1.5rem;
}

.login-btn button {
  background-color: transparent;
  border: 1.5px solid black;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 20px 0px;
  font-weight: 500;
  cursor: pointer;
}

/*navigation Section*/
.navigation-sec {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  gap: 20px;
}

.navigation-sec img {
  height: 25px;
  width: 25px;
  align-content: center;
  font-size: 1.3rem;
}

.explore-sec,
.locator-sec {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.back {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 999;
  background-color: #000000;
  opacity: 0.6;
}

/*sidebar privacy section*/
.privacy-sec {
  margin: 20px 0px;
}
/*side bar footer*/
.sidebar-fotter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 66px;
  width: 100%;
  gap: 10px;
  background-color: #f8d61c;
  padding-inline: 0px;
  margin: 0;
}
/*banner-sec2*/
.banner-sec2{
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
  margin-top: 50px;
  flex-wrap: wrap;
}
.banner-sec2 h3{
  font-size: 1.5rem;
  padding: 10px;
}
.banner-2{
  flex-basis: 31%;
  max-height: 600px;
  margin: 1%;
  border-radius: 20px;
  overflow: hidden;
}
.banner-content{
width: 100%;
height: 100%;
}
.banner-content img{
width: 100%;
height: 100%;
}
